@page "/"

<h1>Welcome to Pathfinder!</h1>

<p>
    This tool was designed to let people experiment with various searching algorithms 
    in a very visual and easy-to-understand way.
</p>

<p>
    To get started, pick an algorithm on the left.
</p>

